#app
  font-family: Avenir, Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-align: center
  color: #2c3e50
  margin-top: 60px

html, body
  overscroll-behavior-y: none
  overscroll-behavior-x: none
  font-family: 'Roboto'
  scroll-snap-type: y mandatory
  background-color: black

#bg
  position: fixed
  top: 0
  left: 0

#content
  position: absolute
  top: 0
  left: 0

  .section
    height: 100vh
    width: 100vw
    display: grid
    grid-template-columns: 10% 400px auto 40% 10%
    grid-template-rows: 20% 200px
    scroll-snap-align: end

    #card
      color: #222222
      background-color: white
      outline: 8px #222222 solid

    &.one
      background: url("media/background.png")
      background-size: cover
      background-attachment: fixed

      #card
        grid-row-start: 2
        grid-row-end: 3
        grid-column-start: 2
        grid-column-end: 3

        h1
          margin-left: 24px
          margin-bottom: 0px
          font-family: 'Roboto'
          font-weight: 300
          font-size: 36px

        subtitle
          margin-left: 24px
          color: #333333
          font-weight: 100

        p
          color: #333333
          font-weight: 300
          margin-left: 24px

          a
            color: #555555

      #earth-wrap
        grid-row-start: 1
        grid-row-end: 4
        grid-column-start: 3
        grid-column-end: 6
        cursor: grab

      .contacts
        position: absolute
        bottom: 15px
        right: 15px
        display: flex
        flex-direction: row
        align-content: end
        gap: 16px

        a
          color: white
          padding: 8px 12px 8px 12px
          outline: 2px solid white
          text-decoration: none
          font-size: 22px
          font-family: monospace
          font-weight: 300
          letter-spacing: 2px
          transition: outline 0.2s, background-color 0.2s
          background-color: rgba(255, 255, 255, 0)

          &:hover
            outline: 5px solid white
            background-color: rgba(255, 255, 255, 0.2)

    // &.two
    //   background: url("media/paperBG.jpeg")
    //   background-repeat: repeat
    //   position: relative
    //   background-size: 80%
    //   overflow: hidden

    //   #page
    //     height: 351px
    //     width: 248px
    //     transform: scale(0.7) rotate(-35deg)
    //     box-shadow: 2px 2px 25px 5px rgba(50,50,50,0.26)
    //     background-color: white
    //     position: absolute
    //     top: 20px
    //     z-index: 1

    //   #projects-back
    //     position: absolute
    //     top: 0
    //     left: 0
    //     z-index: 1

    //   #projects
    //     background-color: white
    //     grid-column-start: 2
    //     grid-column-end: 4
    //     grid-row-start: 2
    //     grid-row-end: 4
    //     outline: 8px #222222 solid
    //     z-index: 2
    //     display: flex
    //     flex-direction: column

    //     h2
    //       color: #2d2d2d
    //       font-size: 48px
    //       line-height: 100%
    //       margin: 16px 24px 12px 24px
    //       font-weight: 300

    //     #project-contain
    //       flex-grow: 1
    //       overflow-y: scroll
    //       scroll-snap-type: x mandatory
    //       display: flex
    //       padding-right: 10%
    //       flex-direction: row

    //       .project
    //         padding-left: 24px
    //         height: 100%
    //         min-width: 90%
    //         scroll-snap-align: start

    //         .content
    //           background-color: transparent

    //         &:last-child
    //           min-width: 100%
