.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  grid-auto-flow: row;
  grid-template-rows: repeat(2, auto);
  row-gap: calc(0.8 * var(--line-height));
  column-gap: 1.8ch;
  padding: 0.4rem 0.4ch 0.4rem 0.4ch;
}
.card {
  border-top: 0.2rem solid #F8F8F2;
  border-bottom: 0.2rem solid #F8F8F2;
  border-left: 0.2ch solid #F8F8F2;
  border-right: 0.2ch solid #F8F8F2;
  padding: 0.4rem 1.4ch 0.4rem 1.4ch;
  display: inline-block;
  box-sizing: border-box;
}
  
.experience {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.experience .title {
  margin: 0px;
}
.experience .company {
  text-transform: uppercase;
  font-weight: bold;
  color: #ccc;
}
.experience .time {
  margin: 0px;
  color: #aaa;
}
.experience .description {
  flex-grow: 1;
}
.experience .keywords {
  display: flex;
  text-transform: uppercase;
  flex-direction: row;
  column-gap: 2ch;
  row-gap: 0ch;
  flex-wrap: wrap;
  color: #44475A;
  line-height: 1rem;
}
.experience .keywords > span {
  margin: 0px 0px 0px 0px;
}
  
    .blogsummary * {
      margin: 0px;
    }
  
.book {
  display: grid;
  grid-template: 1fr /
    max-content
    auto;
  grid-template-areas: "toc content";
  margin: auto;
}
.content {
  grid-area: content;
  padding: var(--line-height) 2ch calc(3 * var(--line-height)) 2ch;
  box-sizing: border-box;
  max-width: 100ch;
}
.content .title {
  margin-bottom: 0px;
}
.toc {
  grid-area: toc;
  padding-top: var(--line-height);
  background-color: #44475A;
}
.toc a {
  display: block;
  color: inherit;
  box-sizing: border-box;
  font-size: 1rem;
  padding: 0px 2ch 0px 2ch;
}
.toc a:hover {
  background-color: #54576A;
}
.section {
  padding-bottom: var(--line-height);
}
@media screen and (max-width: 48rem) {
  .book {
    grid-template: min-content auto / 1fr;
    grid-template-areas: "toc" "content";
  }
  .content {
    padding-top: var(--line-height);
  }
}
  
