.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  grid-auto-flow: row;
  grid-template-rows: repeat(2, auto);
  gap: 1rem;
}
.card {
  border: 0.1rem solid white;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  display: inline-block;
  box-sizing: border-box;
}
  
.experience {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.experience .title {
  margin: 0.2rem 0px 0.2rem 0px;
  font-size: 1.5rem;
  color: #eee;
}
.experience .company {
  margin: 0px 0px 0.2rem 0px;
  text-transform: uppercase;
  font-weight: bold;
  color: #ccc;
}
.experience .time {
  margin: 0px;
  color: #aaa;
}
.experience .description {
  flex-grow: 1;
}
.experience .keywords {
  display: flex;
  text-transform: uppercase;
  flex-direction: row;
  font-size: 0.8rem;
  gap: 0.3rem;
  flex-wrap: wrap;
  color: #ccc;
  line-height: 1rem;
}
.experience .keywords > span {
  margin: 0px 0.2rem 0px 0px;
}
  
.book {
  display: grid;
  grid-template: 1fr /
    16rem
    minmax(min-content, 64rem)
    auto;
  grid-template-areas: "toc content .";
  margin: auto;

  max-width: 96rem;
}
@media screen and (max-width: 48rem) {
  .book {
    grid-template: min-content auto / 1fr;
    grid-template-areas: "toc" "content";
  }
}
.content {
  grid-area: content;
  display: relative;
  padding: 2rem;
  width: 100%;
  box-sizing: border-box
}
.toc {
  padding-top: 2rem;
  grid-area: toc;
}
.toc a {
  display: block;
  color: white;
  background-color: #333;
  margin: none;
  padding: none;
  box-sizing: border-box;
  padding: 8px 16px 8px 16px;
}
.toc a:hover {
  background-color: #444;
}
.toc .wrap {
  border-right: 2px #eee solid;
}
  
